html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body{
	
	background-image: url(../images/bkgrnd.jpg);
}

#titleBar{
	position: relative;
    top: 0px;
    color: black;
    text-align: center;
    -webkit-text-stroke: 1px #FFFC00;
    font-family: "StarWars"
    
}

canvas{
	background-image: url(../images/bkgrnd.jpg);
	background-size: cover;
}

.button{
	margin-bottom: 20px;
	display: block;
	float: left; 
	clear:right;
	margin-bottom: : 20px;
}
#optionsSide{
	display: block;
	float: left;
	clear: both;
	vertical-align: top;
	clear: both;

}

@font-face {
        font-family: "StarWars";
        src: url(Starjedi.ttf);
}

#simulator{
	text-align: center;
	display: inline;
	float: middle;
	clear: both;
	align-content: center;
	margin-left: 13%

}